/*
Colors
#16a085
#ecf0f1
*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html ,body{
  height: 100;
  width: 100%;
}

body{
  background: #16a085;
  color: #ecf0f1;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

.container{
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
}


/* Header */

header{
  width: 100%;
}

.LHeader{
float: left;
}


#logo img{
  cursor: pointer;
}

#logo:hover{
  cursor: pointer;
  opacity: 0.8;
}


.RHeader{
  float: right;
  margin: 1em 1.5em;
  font-size: 1.8em;
}

.RHeader li{
  display: inline-block;
  padding: 0.6em 0.8em;
  cursor: pointer;
  border-radius: 500px;
}

.RHeader li:hover{
  font-weight: 600;
  color:#fff;
  }

  /* Page content */
.page-content{
  width: 80%;
  margin: 2.5em auto;
}

.img-grid
{
margin:0 auto;
}

.img-grid li
{
  display: inline-block;
  width: 31%;
  margin:0.5em;
  padding:0.5em;
  min-width: 15.6em;
  border: 2px solid #ecf0f1;
  background-color: #16a085;

}

.img-grid img{
  width: 100%;
  height: 300px;
  border: 2px solid #ecf0f1;


}

.img-grid figure{
  position: relative;
}

.img-grid figcaption
{
  border: 2px solid #ecf0f1;
  position:absolute;
  bottom: 0;
  background: #16a085;
  width: 100%;
  opacity: 0.9;
  text-align:center;
  padding:10px

}

.boutme
{
  width: 100%;
  margin: 3em auto;
}

.prief
{
  width:55%;
  margin:1.25em 0.6em;
  background:#ecf0f1;
  color:#2c3e50;
  padding:1.25em;
  border-radius: 7px;
  text-align: justify;
  text-justify: inter-word;
  float:left;
}


h1
{
  margin-bottom:10px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #16a085;
}

.skills{
width: 30%;
color:#ecf0f1;
float:left;
margin-left: 20px;

}

.skills span
{
  font-size: 1em;
  font-weight: 600;
}

.progress{
  width:100%;
  background-color:#ecf0f1;
  border-radius: 5px;
  padding: 2px;
  margin: 0.6em 1em;
}

.myprogress0
{
  padding: 5px;
  width:80%;
  height:10px;
  background-color:#16a085;
  border-radius: 5px;
}


.myprogress1
{
  padding: 5px;
  width:40%;
  height:10px;
  background-color:#16a085;
  border-radius: 5px;
}


.myprogress2
{
  padding: 5px;
  width:30%;
  height:10px;
  background-color:#16a085;
  border-radius: 5px;
}


footer{
  margin: 0 auto;
  width: 66%;
  text-align: center;
  border-top: 0.01em solid #ecf0f1;
  font-weight: 600;
  padding: 5px;
}

@media only screen and (max-width: 640px) {



.container{
  padding: 0;
}

.img-grid li{
  width:100%;
}

.LHeader
{
  text-align:center;
  width: 100%;
}
.RHeader
{
  text-align:center;
  width: 100%;
  float: none;
  margin: 0;
}

.page-content{
  width: 95%;
  margin:0;
}

.prief
{
  width:100%;

}

.skills{
  width:100%;
  margin: 0;
  float:none;
  padding: 1em;
}

footer
{
  width:100%;
}

}

@media only screen and (max-width: 1024px ) {

  .container{
    padding: 1em;
  }

  .img-grid li{
    width:100%;
  }

  .prief{
    width: 100%;
  }

  .skills
  {
    width:100%;
  }
}

}
